* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content:space-evenly;
    height: 60px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h4 {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
}

.para {
    display: flex;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.hero {
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-image: url(../images/mothmanbg.jpeg);
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-family:'Courier New', Courier, monospace
    color: black;
}